.checkoutProduct {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px -5px;
  background-color: white;
  width: 350px;
  height: 200px;
}
.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  padding-top: 10px;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 10px;
}
.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
